.navBarCont, .contenedor_nstrs .nosotros {
  display: flex;
  flex-wrap: wrap; }

.navBarCont {
  width: 100%;
  padding-top: 0;
  position: fixed;
  background-color: #C0D79F;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: center; }
  .navBarCont .navbar {
    width: 80%;
    padding-left: auto;
    padding-right: auto; }
    .navBarCont .navbar .navbar-brand {
      padding-right: 3%; }
  .navBarCont li {
    list-style-type: none; }
    .navBarCont li a {
      color: #2B2E18;
      display: block; }
    .navBarCont li .nav-link-own {
      display: block;
      text-decoration: none;
      padding: 0.5rem 1rem; }
    .navBarCont li .nav-link-own:hover {
      color: #9c987e;
      text-decoration: underline; }
    .navBarCont li .logo_s {
      display: none; }

* {
  margin: 0;
  padding: 0; }

.bkgrnd {
  margin: 0px;
  background-color: #eef3db;
  height: 700px; }
  .bkgrnd .contenedor {
    width: 80%;
    height: 600px;
    padding-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; }

.col1 {
  grid-area: 1 / 1 / 6 / 3;
  background-color: #2B2E18;
  background-image: url(../multimd/fonc_col1.png); }
  .col1 .logo_cont {
    padding: 5%; }

.col2_1 {
  grid-area: 1 / 3 / 4 / 5;
  background-color: #C0D79F; }
  .col2_1 h1 {
    font-family: "Josefin Slab", serif;
    color: #6a713b;
    font-size: 2.5rem;
    padding-top: 38%;
    padding-left: 8%; }
  .col2_1 p {
    font-family: "Josefin Slab", serif;
    font-size: 1.5rem;
    color: #7c7552;
    padding-left: 15%;
    padding-right: 8%;
    margin-top: 5%;
    line-height: 120%; }

.col2_2 {
  grid-area: 4 / 3 / 6 / 5;
  background-image: url(../multimd/cuerno_alce_col2_v4.png);
  width: 100%; }

.col3_1 {
  grid-area: 1 / 5 / 3 / 6;
  background-image: url(../multimd/helecho_col3_v1.png);
  width: 100%; }

.col3_2 {
  grid-area: 3 / 5 / 5 / 6;
  background-image: url("../multimd/col3_2_v5.png"); }

.col3_3 {
  grid-area: 5 / 5 / 6 / 6;
  background-color: #7CC6A2; }

* {
  margin: 0;
  padding: 0; }

.contenedor_nstrs {
  width: 80%;
  height: 600px;
  padding-top: 100px;
  margin-left: 8%;
  margin-right: 8%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  .contenedor_nstrs .nosotros {
    margin-bottom: 2em;
    margin-top: 1em; }
    .contenedor_nstrs .nosotros .imgn_nstrs {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%; }
      .contenedor_nstrs .nosotros .imgn_nstrs img {
        width: 100%; }
    .contenedor_nstrs .nosotros .txt_nstrs {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
      padding-left: 5%; }
      .contenedor_nstrs .nosotros .txt_nstrs h1 {
        display: block;
        width: 100%;
        font-family: "Josefin Slab", serif;
        color: #6a713b;
        font-size: 2.5rem; }
      .contenedor_nstrs .nosotros .txt_nstrs h2 {
        display: block;
        font-family: "Josefin Slab", serif;
        color: #6a713b;
        font-size: 2rem;
        font-size: 2rem; }
      .contenedor_nstrs .nosotros .txt_nstrs p {
        display: block;
        font-size: 1em;
        font-family: "Quicksand", sans-serif; }

/*# sourceMappingURL=styles.css.map */
