.containerPlantas{
    margin: 0 auto;
    max-width: 900px;
    height: 700px;
    background-color: aqua;

    .contenedorPlantas {
        //margin-top: 1rem;
        display: grid;
        gap: 1rem;
        background-color: black;
        height: 20px;
        grid-template-columns: repeat(4, 1fr);
        
        img {
            width: 100%;
        }

        .imagenPlanta {
            height: 200px;
            object-fit: cover;
            object-position: center;
        }

        .cardPlanta {
            margin-bottom: 2rem;
            text-align: center;
            border: 1px solid white;
            border-radius: 10px;
            color: white;
            overflow: hidden;
        }

        .btn-comprar {
            $height: 40px;
            transform: translateZ($height);
            cursor: pointer;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            font-weight: bold;
            
            padding: .5em 1em;
            border-radius: 100px;
            font: inherit;
            border: none;
            position: relative;
              transform-style: preserve-3d;
            transition: 300ms ease;
            
            &:before {
            transition: 300ms ease;
              position: absolute;
              display: block;
              content: '';
              transform: translateZ(-$height);
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              height: calc(100% - 20px);
              width: calc(100% - 20px);
              border-radius: 100px;
              left: 10px;
              top: 16px;
            }
            
            &:hover {
              transform: translateZ($height + 15px);
              
              &:before {
                transform: translateZ(-($height + 15px));
              }
            }
            
            &:active {
              transform: translateZ($height/2);
              
              &:before {
                transform: translateZ(-($height/2));
                  top: 12px;
              }
            }
        }
        

    }
}