* { margin: 0; padding: 0; box-sizing: border-box; } 

body {
    background-color: $bkgrd-amantes;

}
.bkgrnd {
    
    margin: 0px;
    background-color: $bkgrd-amantes;
    height: 700px;

    .contenedor {
        
        width: 80%;
        height: 600px;
        padding-top: 100px;
        margin-left: 8%;
        margin-right: 8%; 
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;  
    }
}

.bkgrnd_otras {
    
    margin: 0px;
    background-color: $bkgrd-amantes;
    height: auto;
}