.col2_1 {
    grid-area: 1 / 3 / 4 / 5; 
    background-color: #C0D79F;

    h1 {
        font-family: $tipo-amantes2;
        color: lighten($verde-amantes, 20%);
        font-size: 2.5rem;
        padding-top: 38%;
        padding-left: 8%;
    }
    p {
        font-family: $tipo-amantes2;
        font-size: 1.5rem;
        color: darken($fondo-amantes, 40%);
        padding-left: 15%;
        padding-right: 8%;
        margin-top: 5%;
        line-height: 120%;
    }
}

.col2_2 {
    grid-area: 4 / 3 / 6 / 5;
    background-image: url(../multimd/cuerno_alce_col2_v4.png);
    width: 100%;
}