.col3_1 {
    grid-area: 1 / 5 / 3 / 6;
    background-image: url(../multimd/helecho_col3_v1.png);
    width: 100%;
}
.col3_2 {
    grid-area: 3 / 5 / 5 / 6;
    background-image: url("../multimd/col3_2_v5.png");
}
.col3_3 {
    grid-area: 5 / 5 / 6 / 6;
    background-color: $verde-amantes;

    .footer {
        @extend %flextend;
        justify-content: center;

        h2{
            font-family: $tipo-amantes3;
            font-size: 1rem;
            color: $fondo-amantes;
            padding-left: 10px;
            padding-top: 20px;
            display: flex;
            justify-content: center;
        }
        .redes-container {
            padding-left: 20px;
            display: flex;

            .red {
                text-decoration: none;
                padding-left: 10px;
            }
        }
    }
        


}