$verde-amantes: #2B2E18;
$fondo-amantes: #D7D4C3;
$tipo-amantes1: 'Cardo', serif;
$tipo-amantes2: 'Josefin Slab', serif;
$tipo-amantes3: 'Quicksand', sans-serif;

%flextend {
    display: flex;
    flex-wrap: wrap;
  }