.navBarCont { 
    width: 100%;    
    padding-top: 0;
    position: fixed;
    @extend %flextend;
    background-color: #C0D79F;
    font-family: $tipo-amantes3;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;

    .navbar {
        width: 80%;
        padding-left: auto;
        padding-right: auto;

        .navbar-brand {
            padding-right: 3%;
            
        }
    }
    

    li {
        list-style-type: none;

    
        a {
            color: $verde-amantes; 
            display: block;
            
        }
        .nav-link-own {
            display: block;
            text-decoration: none;
            padding: 0.5rem 1rem;
        }
        .nav-link-own:hover {
            color: #9c987e;
            text-decoration: underline;
          }
    
        .logo_s {
            display: none;
        }
    }
}